<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% if current_user   && current_user.administrator%>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="icon-bar"><%= link_to "Administrate Users", users_path%></span>
        </button>
      </div>
    </div>
  </nav>
  <% end %>


  <% if current_user %>
    Logged in as <%= current_user.email %>
    <%= link_to "Log Out", logout_path%>
  <% else %>
    <%= link_to "Sign Up", signup_path %> or
    <%= link_to "Log In", login_path %>
  <% end %>
    <%= flash[:alert] %>
    <%= flash[:notice] %>
    <%= yield %>

</body>
</html>
